<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
           http://www.springframework.org/schema/cache 
           http://www.springframework.org/schema/cache/spring-cache-4.3.xsd 
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-4.3.xsd 
           http://www.springframework.org/schema/jee 
           http://www.springframework.org/schema/jee/spring-jee-4.3.xsd 
           http://www.springframework.org/schema/lang 
           http://www.springframework.org/schema/lang/spring-lang-4.3.xsd 
           http://www.springframework.org/schema/task 
           http://www.springframework.org/schema/task/spring-task-4.3.xsd 
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util-4.3.xsd" >

	<!-- ############################################ -->
	<!-- Spring 基本配置 -->
	<!-- ############################################ -->

    <!--
                        配置 Bean
             id: 标识容器中的Bean, 值 唯一
          class: bean 的全类名, 通过反射方式在 IOC 容器中创建 Bean, 所以要求Bean中必须有无参的构造器
     -->
    <bean id="helloWorld" class="com.spring4.learn.poio.HelloWorld">
        <!-- 属性注入 通过 set方法注入Bean的属性或依赖对象  -->
        <!-- 属性注入使用 <property>元素  -->
        <property name="info2" value="Spring4" /> <!-- name 的值与 HelloWorld 对象属性 的set方法对应-->
    </bean>
    
    <!-- 通过构造方法来配置Bean 的属性 -->
    <bean id="car" class="com.spring4.learn.poio.Car">
        <!-- index 构造方法中的参数索引 -->
        <constructor-arg value="Audi" index="0"></constructor-arg> 
        <constructor-arg value="ShangHai" index="1"></constructor-arg>
        <constructor-arg value="300000" index="2"></constructor-arg>
    </bean>
    
    <bean id="car2" class="com.spring4.learn.poio.Car"> 
        <!-- 使用构造器属性值可以指定参数的位置和参数类型, 以区分重载的构造器  -->
        <constructor-arg value="Baoma" type="java.lang.String" index="1"></constructor-arg> 
        
        <constructor-arg type="java.lang.String">
            <!-- 注入的值可以在属性中定义, 也可以在 value 子节点中定义  -->
            <!-- 若字面值中包含特殊字符, 可以用<![CDATA[]]> 把字面值包裹起来 -->
            <value><![CDATA[<ShangHai^>]]></value> 
        </constructor-arg>
        
        <constructor-arg type="int">
            <!-- 注入的值可以在属性中定义, 也可以在子节点中定义  -->
            <value>249</value>
        </constructor-arg>
        
        <property name="maxSpeed" value="420"/>
        <property name="price" value="300000"/>
    </bean>
    
<!-- ↓↓↓↓↓↓↓↓↓↓ 与属性 Bean之间的引用关系 START ↓↓↓↓↓↓↓↓↓↓  -->
    <!-- 引入与属性 Bean之间的引用关系定义的Spring配置文件  -->
    <import resource="classpath:/applicationContext_bean_references.xml" />
<!-- ↑↑↑↑↑↑↑↑↑↑ 与属性 Bean之间的引用关系 END ↑↑↑↑↑↑↑↑↑↑  -->
    
<!-- ↓↓↓↓↓↓↓↓↓↓ 测试如何配置集合属性  START ↓↓↓↓↓↓↓↓↓↓  -->
    <!-- 引入配置集合属性定义的Spring配置文件  -->
    <import resource="classpath:/applicationContext_collections.xml" />
<!-- ↑↑↑↑↑↑↑↑↑↑ 测试如何配置集合属性  END ↑↑↑↑↑↑↑↑↑↑  -->

<!-- ↓↓↓↓↓↓↓↓↓↓ 测试如何配置自动装载  START ↓↓↓↓↓↓↓↓↓↓  -->
    <!-- 引入配置集合属性定义的Spring配置文件  -->
    <import resource="classpath:/applicationContexr_autowire.xml" />
<!-- ↑↑↑↑↑↑↑↑↑↑ 测试如何配置自动装载  END ↑↑↑↑↑↑↑↑↑↑  -->

<!-- ↓↓↓↓↓↓↓↓↓↓ 测试Bean之间配置关系  START ↓↓↓↓↓↓↓↓↓↓  -->
    <!-- 引入配置集合属性定义的Spring配置文件  -->
    <import resource="classpath:/applicationContext_bean_relation.xml" />
<!-- ↑↑↑↑↑↑↑↑↑↑ 测试Bean之间配置关系  END ↑↑↑↑↑↑↑↑↑↑  -->

<!-- ↓↓↓↓↓↓↓↓↓↓ 测试Bean作用域配置  START ↓↓↓↓↓↓↓↓↓↓  -->
    <!-- 引入配置集合属性定义的Spring配置文件  -->
    <import resource="classpath:/applicationContext_bean_scope.xml" />
<!-- ↑↑↑↑↑↑↑↑↑↑ 测试Bean作用域配置  END ↑↑↑↑↑↑↑↑↑↑  -->
    
</beans>
