<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		   http://www.springframework.org/schema/cache 
		   http://www.springframework.org/schema/cache/spring-cache-4.3.xsd 
		   http://www.springframework.org/schema/context 
		   http://www.springframework.org/schema/context/spring-context-4.3.xsd 
		   http://www.springframework.org/schema/jee 
		   http://www.springframework.org/schema/jee/spring-jee-4.3.xsd 
		   http://www.springframework.org/schema/lang 
		   http://www.springframework.org/schema/lang/spring-lang-4.3.xsd 
		   http://www.springframework.org/schema/task 
		   http://www.springframework.org/schema/task/spring-task-4.3.xsd 
		   http://www.springframework.org/schema/util 
		   http://www.springframework.org/schema/util/spring-util-4.3.xsd">
    
    <!-- 配置bean -->
    <!--
                        配置 Bean
             id: 标识容器中的Bean, 值 唯一
          class: bean 的全类名, 通过反射方式在 IOC 容器中创建 Bean, 所以要求Bean中必须有无参的构造器(如果类中有构造器方法, 需要添加一个无参的构造器)
     -->
    <bean id="helloWorld" class="com.spring4.learn.HelloWorld">
        <property name="info2" value="Spring4" /> <!-- name 的值与 HelloWorld 对象属性 的set方法对应-->
    </bean>

</beans>
